.weather-header{
  background-color:rgb(10, 11, 88)!important;
}
#history li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 350px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border: 3px solid #ccc;
}

.weather-search {
  width: 350px;
}

.search-button {
  background-color: dodgerblue;
  color: white;
  display: block;
  width: 350px;
  margin-top: 20px;
}

#today {
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 1000px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 2px solid black;
  padding-left: 5px;
  padding-right: 10px;
}

.col-lg-9{
  padding-left: 70px;
}
  /* bootstrap card styling */
.card-body{
  border: 2px solid black;
  width: 170px;
  background-color: rgb(72, 137, 229);

}
.day-forecast{
  
  font-weight: bold;
}

.col-lg-2 {
  margin-right: 30px;
}

  /* make the today forecast responsive by using media queries */ 

  @media (max-width: 576px) {
    #today {
     display:flex;
     flex-direction: column;
     width: 220px;
     height: 220px;
    }
  }